---
import imagen1 from "/src/assets/Makers.svg";
import Image from "astro/components/Image.astro";
---

<footer class="bg-[#000000] text-white w-screen md:px-60 md:py-20 px-5 py-10 mt-20 rounded-b-lg mb-4">
    <div class="mb-5">
        <h1 class="text-xl font-black ">Contáctenos</h1>
    </div>
    <div class="flex flex-col md:flex-row justify-between gap-y-10">
        <div>
            <ul>
                <li><a href="https://www.facebook.com/share/1EAGavYuJx/" class="font-black text-xl hover:text-blue-500 transition-all duration-500">Facebook</a></li>
                <li><a href="https://www.instagram.com/_makers_2" class="font-black text-xl hover:text-pink-600 transition-all duration-500">Instagram</a></li>
                <li><a href="makers25117@gmail.com" class="font-black text-xl hover:text-amber-300 transition-all duration-500">makers25117@gmail.com</a></li>
            </ul>
            <Image src={imagen1} alt="MAKERS FOTOGRAFÍA Y VIDEO" class={"w-40 mt-5"}/>
        </div>
        <div class="text-wrap gap-y-4">
            <p>Momentos únicos ahora eternos.</p>
            <p>Felipe Carrillo Puerto Quintana Roo</p>
        </div>
        <div>
            <h1>Creando momentos inolvidables <span class="font-bold">desde 2025</span></h1>
            <p>Equipo de trabajo: Angel Kau, Daniel Kau, Yassim, Henry Eli.</p>
        </div>
    </div>
</footer>