<footer class="bg-[#000000] text-white w-screen md:px-60 md:py-20 px-5 py-10 mt-20 rounded-b-lg mb-4">
    <div class="mb-5">
        <h1 class="text-xl font-black ">Contactanos</h1>
    </div>
    <div class="md:flex justify-between">
        <div>
            <ul>
                <li><a href="https://www.facebook.com/share/1EAGavYuJx/">Facebook</a></li>
                <li><a href="https://www.instagram.com/_makers_2">Instagram</a></li>
                <li><a href="makers25117@gmail.com">makers25117@gmail.com</a></li>
            </ul>
        </div>
        <div class="text-wrap gap-y-4">
            <p>Momentos únicos ahora eternos.</p>
            <p>Felipe Carrillo Puerto Quintana Roo</p>
        </div>
        <div>
            <h1>Desde: 2025</h1>
            <p>Equipo de trabajo: Angel Kau, Daniel Kau, Yassim, Henry Eli.</p>
        </div>
    </div>
</footer>