<div class="bg-[#f95602] w-auto h-auto rounded-lg p-5">
          <h1 class="text-[#111111] font-bold text-4xl mb-4">Paquetes</h1>

          <div class="flex flex-col md:flex-row sm:gap-x-3.5 gap-y-3">
            <div class="bg-[#111111] p-5 rounded-lg">
              <h1 class="font-black text-lg text-neutral-500">Básico</h1>
              <div>
                <ul>
                  <li class="font-bold">40 fotos</li>
                  <li>
                    Entrega por enlace en la <span class="font-bold">nube</span>
                  </li>
                  <li>$22.50 por foto</li>
                </ul>
              </div>
              <p class="font-black text-4xl mt-4">$900</p>
            </div>
            <div class="bg-[#111111] p-5 rounded-lg">
              <h1 class="font-black text-lg text-gray-200">Platino</h1>
              <div>
                <ul>
                  <li class="font-bold">70 fotos</li>
                  <li>
                    Entrega por enlace en la nube o por <span class="font-bold"
                      >USB</span>
                  </li>
                  <li>$21.50 por foto</li>
                </ul>
              </div>
              <p class="font-black text-4xl mt-4">$1,500</p>
            </div>
            <div class="bg-[#111111] p-5 rounded-lg">
              <h1 class="font-black text-lg text-amber-300">Dorado</h1>
              <div>
                <ul>
                  <li class="font-bold">100 fotos</li>
                  <li>
                    Entrega por enlace en la nube o por <span class="font-bold"
                      >USB</span>
                  </li>
                  <li>$22 por foto</li>
                </ul>
              </div>
              <p class="font-black text-4xl mt-4">$2,200</p>
            </div>
            <div class="bg-[#111111] p-5 rounded-lg">
              <h1 class="font-black text-lg text-[#f95602]">Custom</h1>
              <div>
                <ul>
                  <li class="font-bold">+150 fotos</li>
                  <li>
                    Entrega por enlace en la nube o por <span class="font-bold"
                      >USB</span>
                  </li>
                  <li>$21 por foto</li>
                </ul>
              </div>
              <p class="font-black text-4xl mt-4">$_____</p>
            </div>
          </div>
        </div>