<section id="video" class="w-screen h-screen overflow-hidden">
  <iframe
    class="w-full h-1/2 md:h-full"
    src="https://www.youtube.com/embed/IVYbODWOXFA?&mute=1&controls=0&loop=1&playlist=IVYbODWOXFA"
    title="Video promocional de fotografía creativa"
    loading="lazy"
    allow="autoplay; fullscreen"
    allowfullscreen>
  </iframe>
</section>